<div class='flex items-center'>
	<div class='shrink-0'>
		<img
			class='size-11 border-2 border-white rounded-full'
			src='../../public/perfilFotoFrente.png'
			alt='Avatar'
		/>
	</div>
	<div class='ms-2.5 sm:ms-4'>
		<h4 class='font-semibold text-white'>Luis Rangel</h4>
		<p class='text-xs text-white/80'>Jan 09, 2021</p>
	</div>
</div>



