---
import ImagenBackground from './ImagenBackground.astro';
import AvatarProject from './AvatarProject.astro';
import TextProject from './TextProject.astro';
---

<!-- Card -->
<a
	class='group relative block rounded-xl focus:outline-hidden'
	href='#'>
	<ImagenBackground />
	<AvatarProject />
	<TextProject />
</a>
<!-- End Card -->



