@import "tailwindcss";

@import "flowbite/src/themes/default";
/* @plugin "flowbite/plugin";
@source "../../node_modules/flowbite"; */

:root {
    color-scheme: light dark;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 96px;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}