---
import Santander from './icons/Santander.astro';
import Compusoft from './icons/Compusoft.astro';
import Portafolio from './icons/Portafolio.astro';
---

<!-- Timeline -->
<div class='card-section'>
	<!-- Item -->
	<div class='group relative flex gap-x-5'>
		<!-- Icon -->
		<div
			class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700'>
			<div class='relative z-10 size-6 flex justify-center items-center'>
				<Santander />
			</div>
		</div>
		<!-- End Icon -->

		<!-- Right Content -->
		<div class='grow pb-8 group-last:pb-0'>
			<h3 class='mb-1 text-sm text-white-400 uppercase tracking-wide'>2018 - Actualidad</h3>

			<p class='font-semibold text-lg text-gray-200 drop-shadow-sm'>
				Líder Jr. en Control y Gestión – Desarrollador Web
			</p>

			<p class='mt-1 text-sm'>
				Responsable del desarrollo de herramientas web internas para monitorear el cumplimiento de los SLA en incidentes
				y tareas del área de Service Desk de Santander México (SDS).
			</p>

			<ul class='list-disc ms-6 mt-3 space-y-1.5'>
				<li class='ps-1 text-sm'>
					Desarrollo de dashboards personalizados con visualización de datos en tiempo real utilizando PHP, JavaScript,
					MySQL y Apache.
				</li>
				<li class='ps-1 text-sm'>
					Automatización de flujos de generación de reportes ejecutivos, mejorando los tiempos de entrega y la precisión
					de la información de desempeño.
				</li>
				<li class='ps-1 text-sm'>
					Implementación de aplicaciones web para el monitoreo de KPIs y generación de métricas de cumplimiento.
				</li>
				<li class='ps-1 text-sm'>
					Colaboración estrecha con equipos de operaciones y TI para asegurar el cumplimiento de objetivos relacionados
					con SLA.
				</li>
				<li class='ps-1 text-sm'>
					Uso de tecnologías como React, jQuery, HTML y CSS para crear herramientas internas enfocadas en la toma de
					decisiones basada en datos.
				</li>
				<li class='ps-1 text-sm'>
					Diseño,desarrollo y adminitracion de interfaces para el control de Activos y Telefonia Movil de SDS, mejorando
					la eficiencia en la gestión de recursos.
				</li>
			</ul>
		</div>

		<!-- End Right Content -->
	</div>
	<!-- End Item -->

	<!-- Item -->
	<div class='group relative flex gap-x-5'>
		<!-- Icon -->
		<div
			class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700'>
			<div class='relative z-10 size-6 flex justify-center items-center'>
				<Portafolio />
			</div>
		</div>
		<!-- End Icon -->

		<!-- Right Content -->
		<div class='grow pb-8 group-last:pb-0'>
			<h3 class='mb-1 text-sm text-white-400 uppercase tracking-wide'>2017 - Actualidad</h3>

			<p class='font-semibold text-lg text-gray-200 drop-shadow-sm'>Freelance Web developer</p>

			<ul class='list-disc ms-6 mt-3 space-y-1.5'>
				<li class='ps-1 text-sm'>
					Colaboré con una amplia variedad de clientes, desarrollando soluciones de software personalizadas para
					automatizar y optimizar procesos administrativos.
				</li>
				<li class='ps-1 text-sm'>
					Fomenté relaciones sólidas con los clientes mediante una comunicación clara, entregas puntuales y una gestión
					ágil de proyectos.
				</li>
				<li class='ps-1 text-sm'>
					Implementé tecnologías como JavaScript, PHP, MySQL, React, Astro y Laravel, apoyándome en herramientas como
					Notion para el seguimiento de tareas, Slack para la coordinación de equipos y GitHub para el control de
					versiones.
				</li>
			</ul>
		</div>
		<!-- End Right Content -->
	</div>
	<!-- End Item -->
	<!-- Item -->
	<div class='group relative flex gap-x-5'>
		<!-- Icon -->
		<div
			class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700'>
			<div class='relative z-10 size-6 flex justify-center items-center'>
				<img
					src='https://hogaresherso.com.mx/wp-content/uploads/2020/12/LOGO-HOGARES-HERSO-2-300x272.png'
					alt='logo_hogaresherso'
					class='shrink-0 size-6'
				/>
			</div>
		</div>
		<!-- End Icon -->

		<!-- Right Content -->
		<div class='grow pb-8 group-last:pb-0'>
			<h3 class='mb-1 text-sm text-white-400 uppercase tracking-wide'>2016 - 2018</h3>

			<p class='font-semibold text-lg text-gray-200 drop-shadow-sm'>Grupo Herso – Líder en Sistemas y Comunicaciones</p>

			<p class='mt-1 text-sm'>
				Durante mi trayectoria en el equipo de Herso fui encargado de mantener el correcto funcionamiento de las
				diversas plazas de la constructora en los estados de Guanajuato y Querétaro. Me encargaba del control de
				inventario de los equipos de cómputo, así como del mantenimiento de los sistemas de telecomunicaciones internos.
				Además, implementé y di soporte a redes de datos y voz, asegurando su disponibilidad para las operaciones
				diarias.
			</p>
		</div>

		<!-- End Right Content -->
	</div>
	<!-- End Item -->

	<!-- Item -->
	<div class='group relative flex gap-x-5'>
		<!-- Icon -->
		<div
			class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700'>
			<div class='relative z-10 size-6 flex justify-center items-center'>
				<Compusoft />
			</div>
		</div>
		<!-- End Icon -->

		<!-- Right Content -->
		<div class='grow pb-8 group-last:pb-0'>
			<h3 class='mb-1 text-sm text-white-400 uppercase tracking-wide'>2011 - 2016</h3>

			<p class='font-semibold text-lg text-gray-200 drop-shadow-sm'>
				Ingeniero de Campo – Zona Bajío / Analista Service Desk – COMPUSOF México
			</p>

			<p class='mt-1 text-sm'>
				Encargado de brindar soporte técnico tanto presencial como remoto para instituciones financieras en las regiones
				de Guanajuato y Querétaro, colaborando con bancos como Compartamos, Bancomer, Banregio y Santander México.
			</p>

			<ul class='list-disc ms-6 mt-3 space-y-1.5'>
				<li class='ps-1 text-sm'>
					Soporte en primera línea para equipos de cómputo en sucursales bancarias, incluyendo mantenimiento preventivo
					y correctivo.
				</li>
				<li class='ps-1 text-sm'>
					Responsable de la operación técnica en diversas ciudades como Querétaro Capital, San Juan del Río, Celaya,
					Tequisquiapan, Apaseos, Jalpan, San Miguel de Allende y Salvatierra.
				</li>
				<li class='ps-1 text-sm'>
					Analista en el área de Service Desk para Banco Santander México con cobertura nacional a sucursales y
					corporativos.
				</li>
				<li class='ps-1 text-sm'>
					Líder de equipo encargado de generar reportes de rendimiento técnico y capacitar a personal de nuevo ingreso.
				</li>
			</ul>
		</div>

		<!-- End Right Content -->
	</div>
	<!-- End Item -->
</div>
<!-- End Timeline -->



