---
import Badge from './Badge.astro';
import Mail from './icons/Mail.astro';
import NameDev from './NameDev.astro';
import SocialNetwork from './SocialNetwork.astro';
import imageDev from '../assets/images/FherYellow3_4.png';
import DescriptionText from './DescriptionShort.tsx';
---

<div class='card-section'>
	<div class='card-perfil'>
		<div class='shrink-0'>
			<img
				class='image-avatar'
				src={imageDev.src}
				alt='Avatar of Luis Fernando Rangel Diaz, Luis Fernando Rangel Diaz, Rangel Diaz, web designer/developer, administrative manager'
			/>
		</div>

		<div class='grow'>
			<NameDev class='h-12' />
			<DescriptionText client:load />
		</div>
	</div>
	<div class='mt-8'>
		<p class='text-sm'>
			Soy Fullstack Web Developer con más de 10 años de experiencia entecnologías de la información. Me especializo en
			crear herramientas internas que automatizan procesos, optimizan tareas operativas y facilitan la toma de
			decisiones. He trabajado tanto en backend con PHP/MySQL como en frontend moderno con React, Astro y Tailwind,
			enfocándome siempre en soluciones prácticas para equipos técnicos y administrativos. También cuento con
			experiencia en gestión y conozco bien el funcionamiento interno de las empresas.
		</p>
		<ul class='mt-5 gap-3 flex flex-col items-center xl:flex-row xl:gap-x-5'>
			<li>
				<div class='relative inline-block'>
					<button
						id='tooltipBtn'
						data-tooltip-target='tooltip-click'
						data-tooltip-trigger='click'
						type='button'>
						<Badge class='yellow'>
							<Mail class='size-3 me-2' />
							<span>Luis Rangel Diaz</span>
						</Badge>
					</button>

					<div
						id='tooltip-click'
						role='tooltip'
						class='absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700'>
						Correo copiado
						<div
							class='tooltip-arrow'
							data-popper-arrow>
						</div>
					</div>
					<script
						type='module'
						src='/js/tool-tip-controller.js'
					></script>
				</div>
			</li>
			<SocialNetwork />
		</ul>
	</div>
</div>
