---
import Badge from './Badge.astro';
import Mail from './icons/Mail.astro';
import NameDevBeta from './NameDevBeta.astro';
import SocialNetwork from './SocialNetwork.astro';
import imageDev from '../assets/images/FherYellow3_4.png';
---

<div class='card-section'>
	<div class='card-perfil'>
		<div class='shrink-0'>
			<img
				class='image-avatar'
				src={imageDev.src}
				alt='Avatar'
			/>
		</div>

		<div class='grow'>
			<NameDevBeta class='h-12' />
			<script
				type='module'
				src='/js/namedev-controller.js'
			></script>
			<div>NameDev Component</div>
			<p class='text-m'>Web designer/developer, administrative manager</p>
		</div>
	</div>
	<div class='mt-8'>
		<p class='text-sm'>
			Más de 10 años de experiencia en tecnologías de la información, especializado en la creación de herramientas
			internas que automatizan procesos, análisis de datos operativos para facilitar la toma de decisiones.
		</p>

		<ul class='mt-5 gap-3 flex flex-col items-center xl:flex-row xl:gap-x-5'>
			<li>
				<div class='relative inline-block'>
					<button
						id='tooltipBtn'
						data-tooltip-target='tooltip-click'
						data-tooltip-trigger='click'
						type='button'>
						<Badge class='yellow'>
							<Mail class='size-3 me-2' />
							<span>Luis Rangel Diaz</span>
						</Badge>
					</button>

					<div
						id='tooltip-click'
						role='tooltip'
						class='absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700'>
						Correo copiado
						<div
							class='tooltip-arrow'
							data-popper-arrow>
						</div>
					</div>
					<!-- <TooltipController client:load /> -->
					<script
						type='module'
						src='/js/tool-tip-controller.js'
					></script>
				</div>
			</li>
			<SocialNetwork />
		</ul>
	</div>
</div>
