---
import PersonCard from './PersonCard.astro';
import Proyects from './Proyects.astro';
import ProyectsSlider from './ProyectsSlider.astro';
import Experience from './Experience.astro';

// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
---

<div
	id='container'
	class='pt-24'>
	<section
		class='p-16'
		id='about'>
		<PersonCard />
	</section>
	<section
		class='p-16'
		id='experience'>
		<h1 class='text-3xl font-bold pb-4'>Experience</h1>
		<Experience />
	</section>
	<section
		class='p-16'
		id='projects-slider'>
		<h1 class='text-3xl font-bold pb-4'>Projects</h1>
		<ProyectsSlider />
	</section>
</div>
