---
import PersonCard from './PersonCard.astro';
import ProyectsSlider from './ProyectsSlider.astro';
import Experience from './Experience.astro';
---

<div
	id='container'
	class='pt-[var(--header-height,6rem)]'>
	<section
		class='p-16'
		id='about'>
		<PersonCard />
	</section>
	<section
		class='p-16'
		id='experience'>
		<div class='flex items-center gap-4 pb-6'>
			<div class='w-2 h-10 bg-[#C51617] rounded'></div>
			<h2 class='text-5xl font-extrabold text-white drop-shadow-lg'>Experience</h2>
		</div>
		<Experience />
	</section>
	<section
		class='p-16'
		id='projects-slider'>
		<div class='flex items-center gap-4 pb-6'>
			<div class='w-2 h-10 bg-[#C51617] rounded'></div>
			<h2 class='text-5xl font-extrabold text-white drop-shadow-lg'>Projects</h2>
		</div>
		<ProyectsSlider />
	</section>
</div>



