---
import PersonCard from './PersonCard.astro';
import Proyects from './Proyects.astro';
import Experience from './Experience.astro';

// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
---

<div
	id='container'
	class='pt-20'>
	<section class='p-8'>
		<PersonCard />
	</section>
	<section class='p-8'>
		<Experience />
	</section>
	<section class='p-8'>
		<Proyects />
	</section>
</div>
